.sidebar {
	display: flex;
	flex-direction: column;
 }

.sidebar__header {
	display: flex;
	justify-content: space-between;
	padding: 20px;
	align-items: center;
	border-right: 1px solid lightgray;
}

.sidebar__headerRight {
	display: flex;
	align-items: center;
	min-width: 10vw;
	justify-content: space-evenly;

}

.sidebar__headerRight > .MuiSvgIcon-root {
	margin-right: 2vw;
	font-size: 24px !important;
}



.sidebar__search {
	display: flex;
	align-items: center;
	background-color: #f6f6f6;
	height: 39px;
	padding: 10px;
}

.sidebar__searchContainer {
	display: flex;
	align-items: center;
	background-color: white;
	width: 100%;
	height: 35px;
	border-radius: 20px;
}

.sidebar__searchContainer > .MuiSvgIcon-root {
	color: gray;
	padding: 10px;
}

.sidebar__searchContainer > input {
	border: none;
	margin-left: 10px;
	padding: 0.3rem 0;
	width: 90%;
	outline-width: 0; /* Remove border on click */
}

.sidebar__chats {
	margin-top: 0.5rem;
	flex: 1;
	background-color: white;
	overflow-y: scroll;
}